In [2]:
import pandas as pd

In [3]:
jee1 = pd.read_csv('../Data/JEE_Dropout_Cleaned.csv', delimiter=',')
jee2 = pd.read_csv('../Data/Feature_Engineered.csv', delimiter=',')

In [4]:
jee2.head()

,peer_focused_mh,PSxIA,daily_study_hours,location_type,Income vs Admission,family_income,parental_support,dropout
0,0,0.00,5.4,2,0,0,1.62,1
1,1,1.65,5.5,2,1,1,1.65,0
2,3,0.00,7.0,1,0,0,2.70,1
3,3,2.49,2.1,1,3,0,0.83,0
4,4,9.16,6.3,1,4,1,2.29,0

In [5]:
jee_final = pd.concat([jee1, jee2[["Income vs Admission", "PSxIA", "peer_focused_mh","parental_support"]]], axis=1)
jee_final.head()

,jee_main_score,jee_advanced_score,mock_test_score_avg,school_board,class_12_percent,attempt_count,coaching_institute,daily_study_hours,family_income,parent_education,location_type,peer_pressure_level,mental_health_issues,admission_taken,dropout,Income vs Admission,PSxIA,peer_focused_mh,parental_support
0,78.95,59.22,59.86,1,70.09,1,0,5.4,0,0,2,0,0,0,1,0,0.00,0,1.62
1,70.06,58.75,64.33,0,78.00,1,0,5.5,1,0,2,0,1,0,0,1,1.65,1,1.65
2,81.07,37.27,60.83,2,64.36,1,0,7.0,0,3,1,1,1,0,1,0,0.00,3,2.70
3,93.32,60.72,69.33,2,73.21,1,0,2.1,0,1,1,1,1,1,0,3,2.49,3,0.83
4,68.72,77.73,82.37,1,89.02,1,0,6.3,1,2,1,2,0,1,0,4,9.16,4,2.29

In [6]:
jee_final.to_csv('../Data/JEE_Dropout_Final.csv', index=False)